In [1]:
import pandas as pd

In [2]:
raw_data=pd.read_excel(r'E:\N_Batch -- 4.30PM\2.Aug\4th,7th\data cleaning task\raw data.xlsx')

In [3]:
raw_data

,Unnamed: 0,ADDR,DT,NAME,time
0,NaN,"45 rd, kenith street, btm, bangalore 500038",2022-04-03,abc,8:30:21
1,NaN,"45 rd, street, hitech, Hd 500038",2022-04-02,dec,5:30:21

In [4]:
raw_data[0:4]

,Unnamed: 0,ADDR,DT,NAME,time
0,NaN,"45 rd, kenith street, btm, bangalore 500038",2022-04-03,abc,8:30:21
1,NaN,"45 rd, street, hitech, Hd 500038",2022-04-02,dec,5:30:21

In [5]:
raw_data.columns

Index(['Unnamed: 0', 'ADDR', 'DT', 'NAME', 'time'], dtype='object')

In [6]:
raw_data.drop(columns='Unnamed: 0')

                                          ADDR         DT NAME     time
0  45 rd, kenith street, btm, bangalore 500038 2022-04-03  abc  8:30:21
1            45 rd,  street, hitech, Hd 500038 2022-04-02  dec  5:30:21

In [15]:
# Raw data (assuming it's in a DataFrame)
raw_data = pd.DataFrame({
    'ADDR': ['45 rd, kenith street, btm, bangalore 500038', '45 rd, street, hitech, Hd 500038'],
    'DT': ['2022-04-03', '2022-04-02'],
    'NAME': ['abc', 'abc'],
    'time': ['8:30:21', '5:30:21']
})

# Function to split columns
def split_columns(data):
    split_addr = data['ADDR'].str.split(', ', expand=True)
    split_dt = data['DT'].str.split('-', expand=True)
    split_time = data['time'].str.split(':', expand=True)

    # Assign each component to corresponding new columns
    data['House no'] = split_addr[0]
    data['Street'] = split_addr[1]
    data['City'] = split_addr[2]
    data['State'] = split_addr[3]
    if len(split_addr.columns) > 4:
        data['Zip Code'] = split_addr[4]
    else:
        data['Zip Code'] = None

    data['Year'] = split_dt[0]
    data['Month'] = split_dt[1]
    data['Day'] = split_dt[2]

    data['Hour'] = split_time[0]
    data['Minute'] = split_time[1]
    data['Second'] = split_time[2]

    # Drop the original columns
    data.drop(columns=['ADDR', 'DT', 'time'], inplace=True)

# Apply the function to the raw data
split_columns(raw_data)

# Print cleaned data
print("Cleaned Data:")
print(raw_data)

Cleaned Data:
  NAME House no         Street    City             State Zip Code  Year Month  \
0  abc    45 rd  kenith street     btm  bangalore 500038     None  2022    04
1  abc    45 rd         street  hitech         Hd 500038     None  2022    04

  Day Hour Minute Second
0  03    8     30     21
1  02    5     30     21

In [17]:
# Raw data (assuming it's in a DataFrame)
raw_data = pd.DataFrame({
    'ADDR': ['45 rd, kenith street, btm, bangalore 500038', '45 rd, street, hitech, Hd 500038'],
    'DT': ['2022-04-03', '2022-04-02'],
    'NAME': ['abc', 'abc'],
    'time': ['8:30:21', '5:30:21']
})

# Function to split columns
def split_columns(data):
    split_addr = data['ADDR'].str.split(', ', expand=True)
    split_dt = data['DT'].str.split('-', expand=True)
    split_time = data['time'].str.split(':', expand=True)

    # Assign each component to corresponding new columns
    data['House no'] = split_addr[0]
    data['Street'] = split_addr[1]
    data['City'] = split_addr[2]
    data['State'] = split_addr[3]
    if len(split_addr.columns) > 4:
        data['Zip Code'] = split_addr[4]
    else:
        data['Zip Code'] = None

    data['Year'] = split_dt[0]
    data['Month'] = split_dt[1]
    data['Day'] = split_dt[2]

    data['Hour'] = split_time[0]
    data['Minute'] = split_time[1]
    data['Second'] = split_time[2]

    # Drop the original columns
    data.drop(columns=['ADDR', 'DT', 'time'], inplace=True)

# Apply the function to the raw data
split_columns(raw_data)

# Save cleaned data to an Excel file
excel_file_path = "cleaned_data.xlsx"
raw_data.to_excel(excel_file_path, index=False)

print("Cleaned Data saved to Excel file:", excel_file_path)

Cleaned Data saved to Excel file: cleaned_data.xlsx